body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3, h4 {
  margin-bottom: 0;
}

nav {
  border-bottom: 2px solid black;
  text-align: center;
  top: 0;
  width: 100%;
  background: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 12px 24px;
}

nav a:hover {
  color: white;
  font-weight: bold;
}


input, textarea {
  display: flex;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

.about{
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.8em;
  display: flex;
}

.p{
  font-size: 20px;
  border: 2px solid black;
  padding: 20px;
  text-overflow: ellipsis;
  display: flex;

}